.color-box{
    width: 34%;
    background-color: white;
    box-shadow: 0 0 2px 1px grey;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 5px;
    right: 12px;
}

button{
    border: 2px solid transparent;
    padding: 4px 8px;
    color: white;
    background-color: black;
    border-radius: 8px;
}

button:hover{
    color: black;
    background-color: white;
    border: 2px solid black;
    cursor: pointer;
}